@use "../../../css/01-utilities/variables" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;

  .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    li {
      display: inline;
      a {
        text-decoration: none;
        color: map-get($clr, "light");
        transition: 0.3s;
        cursor: pointer;
        &:hover,
        &.active {
          color: map-get($clr-dark-theme, "warning");
        }
      }
    }
  }

  .menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: $fs-lg;
    cursor: pointer;
    svg path {
      fill: map-get($clr, "light");
    }
  }

  .dropdown {
    .dropdown-btn {
      background: none;
      border: none;
      color: map-get($clr, "light");
      font-size: 16px;
      cursor: pointer;
    }
    .dropdown-btn:hover,
    .dropdown-btn.active {
      color: map-get($clr-dark-theme, "warning");
    }
    .dropdown-menu {
      position: absolute;
      background: map-get($clr, "dark");
      color: map-get($clr, "light");
      list-style: none;
      padding: 10px;
      margin-top: 5px;
      border-radius: 5px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

      li {
        padding: 8px 12px;
        a {
          display: block;
          text-decoration: none;
          color: map-get($clr, "light");
          transition: 0.3s;
          cursor: pointer;
          &:hover,
          &.active {
            color: map-get($clr-dark-theme, "warning");
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
      background-color: map-get($clr, "dark");
      position: absolute;
      top: 55px;
      left: 0;
      padding: 10px 0;
      &.active {
        display: flex;
      }
    }

    .menu-toggle {
      display: block;
    }
  }
}
