@use "../../../css/01-utilities/variables" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;

  .logo-img {
    max-height: 60px;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    li {
      display: inline;
      a {
        text-decoration: none;
        color: map-get($clr, "light");
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          color: map-get($clr-dark-theme, "warning");
        }
      }
    }
  }

  .menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: $fs-lg;
    cursor: pointer;
    svg path {
      fill: map-get($clr, "light");
    }
  }

  .search-container {
    display: flex;
    position: relative;
    align-items: center;
    background-color: map-get($clr, "dark");
    padding: 2px;
    border-radius: 8px;
    max-width: 250px;
    margin-left: auto;
    margin-right: 1rem;
    .search-input {
      flex-grow: 1;
      padding: 8px;
      border: none;
      background: none;
      color: map-get($clr, "light");
      outline: none;
    }
    .clear-button {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      font-size: 18px;
      color: map-get($clr, "light");
    }
  }

  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
      background-color: map-get($clr-dark-theme, "secondary");
      position: absolute;
      top: 55px;
      left: 0;
      padding: 10px 0;
      &.active {
        display: flex;
      }
    }

    .menu-toggle {
      display: block;
    }
  }
}

.search-result {
  border-top: 1px solid map-get($clr, "dark");
}
