.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #222; 
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    li {
      display: inline;
      a {
        text-decoration: none;
        color: white;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          color: #f39c12;
        }
      }
    }
  }

  .menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;  
    cursor: pointer;
    svg path {
      fill: #fff;
    }
  }

  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
      background-color: #222;
      position: absolute;
      top: 55px;
      left: 0;
      padding: 10px 0;
      &.active {
        display: flex;
      }    
    }
  
    .menu-toggle {
      display: block;
    }
  }
}
