@use "../../../css/01-utilities/variables" as *;

.card {
  background-color: map-get($clr, "dark");
  border-radius: 8px;
  box-shadow: 0 4px 6px map-get($clr-gray, "800");
  width: 350px;
  height: 285px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
  img {
    object-fit: contain;
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .card-content {
    padding: 15px;
    .card-title {
      margin-bottom: 10px;
      color: map-get($clr, 'light');
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
