<div class="flex-row video-detail my-lg-5">
  <div class="flex-col-lg-4 p-2">
    <img src="https://placehold.co/200x300" alt="movie poster" />
  </div>
  <div class="flex-col-lg-8 p-2">
    <h3 class="text-light mb-3 py-2 text-center">Title</h3>
    <p>Published:</p>
    <p>Language:</p>
    <p>Genres:</p>
    <p>Published:</p>
    <p>Views:</p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-col-12 p-2 video-container">
    <iframe
      class="responsive-iframe"
      src="https://www.youtube.com/embed/EJJedP2_7_k?si=kP2IL1qnLpvAF-yJ"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
</div>
