<div class="flex-row video-detail mb-lg-5">
  <div class="flex-col-12 mb-3">
    <a onclick="history.back()" class="go-back-btn">Go Back</a>
  </div>
  <div class="flex-col-lg-4 p-2">
    <img src="{{ queryParams.params.youtube_thumbnail }}" alt="movie poster" />
  </div>
  <div class="flex-col-lg-8 p-2">
    <h3 class="text-light mb-3 py-2 text-center">{{ queryParams.params.title }}</h3>
    <p>Published: {{ queryParams.params.published | date }}</p>
    <p>Language: {{ queryParams.params.language }}</p>
    <p>Genres:</p>
    <ul class="ml-5">
      @for(genre of queryParamsGenres; track $index) {
        <li>{{ genre }}</li>
        }
    </ul>
    <p>Views: {{ queryParams.params.views }}</p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-col-12 p-2 video-container">
    <iframe
      class="responsive-iframe"
      [src]="safeUrl"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
</div>
